<form class="form-inline">
  <div class="row">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-btn">
          <a class="btn btn-warning border-warning" (click)="d1.toggle()">
            <i class="fa fa-calendar fa-1x"></i> Starting</a>
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp1" [(ngModel)]="start_date" ngbDatepicker #d1="ngbDatepicker" readonly> 
          </span>
      </div>
      <div class="input-group">
          <span class="input-group-btn">
            <a class="btn btn-warning border-warning" (click)="d2.toggle()">
              <i class="fa fa-calendar fa-1x"></i> Ending</a>
              <input class="form-control" placeholder="yyyy-mm-dd" name="dp2" [(ngModel)]="end_date" ngbDatepicker #d2="ngbDatepicker" readonly> 
            </span>
      </div>
      <!-- <button type="button" class="btn btn-outline-success btn-md active" aria-pressed="true" (click)="onTest()">Show Graph</button> -->
      <!-- <input type="checkbox" checked data-toggle="toggle" [(ngModel)]="checkBoxValue" data-on="GSM" data-off="BF" data-onstyle="success" data-offstyle="warning"> -->

      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-outline-success btn-md active dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select Graph
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="btn btn-outline-success btn-block" (click)="onClickShowGraph('gsm')">GSM Data</a>
          <a class="btn btn-outline-success btn-block" (click)="onClickShowGraph('bf')">BF Data</a>
        </div>
      </div>

    </div>
  </div>
</form>
<div *ngIf="showLoader" align="center">
  <br>
  <br>
  <img src="./assets/loading-2.gif">
</div>
<ng-template [ngIf]="showGraph && !showLoader">
  <div>
    <google-chart [data]="graphData"></google-chart>
  </div>
</ng-template>
<!-- <br> -->
<!-- <div class="row">
  <div class="col-md-6">
    <div class="btn-group">
      <button type="button" class="btn btn-outline-primary btn-md" aria-pressed="true" (click)="showGSMGraph('7')">Weekly GSM Trends</button>
      <button type="button" class="btn btn-outline-primary btn-md" aria-pressed="true" (click)="showGSMGraph('30')">Monthly GSM Trends</button>
      <button type="button" class="btn btn-outline-primary btn-md" aria-pressed="true" (click)="showGSMGraph('0')">Yearly GSM Trends</button>
      <div class="col-md-6">
        <div class="btn-group">
          <button type="button" class="btn btn-outline-success btn-md" aria-pressed="true" (click)="showBFGraph('7')">Weekly BF Trends</button>
          <button type="button" class="btn btn-outline-success btn-md" aria-pressed="true" (click)="showBFGraph('30')">Monthly BF Trends</button>
          <button type="button" class="btn btn-outline-success btn-md" aria-pressed="true" (click)="showBFGraph('0')">Yearly BF Trends</button>
        </div>
      </div>
    </div>
  </div>
</div> -->
