table { 
	width: 100%; 
	border-width: 1px;
	/* color: #66615b; */
	font-size: 14px;
	font-family: 'Muli', Arial, sans-serif;
	}
	h3{
		font-family: 'Muli', "Helvetica", Arial, sans-serif;
    }
    hr { 
        display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 1px;
        } 