

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.navbar-brand {
    color: white !important;
}

.rcorners {
    border-radius: 25px;
    background: rgba(242, 222, 222, 0.64);
    padding: 20px;
}
