<div class="container">
  <!-- <div [hidden]="submitted"> -->
  <h1>Products</h1>
  <form (ngSubmit)="onSubmit()" #modifyinventoryForm="ngForm">

    <div class="form-group">
      <label for="name">Items</label>
      <select class="form-control" id="name" required [(ngModel)]="products.name" name="name" #name="ngModel">
          <option *ngFor="let product of products" [value]="product.name">{{product.name}}</option>
        </select>
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        Name is required
      </div>
    </div>
    <div class="form-group">
      <label for="id">ID</label>
      <input type="text" class="form-control" id="id" required [(ngModel)]="products.id" name="id" #id="ngModel">
      <div [hidden]="id.valid || id.pristine" class="alert alert-danger">
        Id is required
      </div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!productForm.form.valid">Submit</button>
    <button type="button" class="btn btn-default" (click)="newProduct(); productForm.reset()">New Product</button>
  </form>
</div>
<!-- <div class="row">
  <div class="col-xs-10">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div>
        <div class="col-sm-2 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" name="name" ngModel required>
        </div>
        <div class="col-sm-3 form-group">
          <label for="description">Description</label>
          <input type="text" id="description" class="form-control" name="description" ngModel required>
        </div>
        <div class="col-xs-2 form-group">
          <label for="quantity">Quantity</label>
          <input type="quantity" id="amount" class="form-control" name="quantity" ngModel required pattern="^[1-9]+[0-9]*$">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">
              {{ editMode ? 'Update' : 'Add'}}
            </button>
          <button class="btn btn-danger" type="button" (click)="onDelete()" *ngIf="editMode">Delete</button>
          <button class="btn btn-primary" type="button" (click)="onClear()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div> -->