<nav class="navbar navbar-inverse bg-light">
  <div class="container-fluid" style="cursor: pointer;">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Main page</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"> <a routerLink="sales">Sales</a></li>
        <li routerLinkActive="active"> <a routerLink="inventory">Inventory</a></li>
        <li routerLinkActive="active"> <a routerLink="employee">Employees</a></li>
        <li routerLinkActive="active"> <a routerLink="graphs">Graphs</a></li>
        <li routerLinkActive="active"> <a href="">Purchase</a></li>
        <li routerLinkActive="active"> <a href="">Finance</a></li>
        <li routerLinkActive="active"> <a href="">Production</a></li>
        <li routerLinkActive="active"> <a href="">Payroll</a></li>
        <li routerLinkActive="active"> <a href="">Reports</a></li>
        <li routerLinkActive="active"> <a href="">Bank</a></li>
        <li routerLinkActive="active"> <a routerLink="test">Test</a></li>
      </ul>
    </div>
  </div>
</nav>