<div class="container-fluid">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <ng-template [ngIf]="authService.isAuthenticated()">
      <!-- <a class="navbar-brand" href="#">Spak</a> -->
      <div class="icon-big icon-success">
        <i class="fa fa-leaf fa-2x" aria-hidden="false" style="width:50px;height:30px;"></i>
      </div>
      <!-- <img src="./assets/test_logo1.png" style="width:50px;height:30px;"> -->
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- <a class="navbar-brand"><img src="./assets/spak_logo.png"></a> -->
      <!-- <a href="#" class="pull-left"><img src="./assets/spak_logo.png" style="width:50px;height:30px;"></a>  -->
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="cursor: pointer;">
        <ul class="navbar-nav mr-auto">
          <!-- <a class="nav-item nav-link active" routerLinkActive="active" routerLink="sales">Sales <span class="sr-only">(current)</span></a> -->
          <!-- <a class="nav-item nav-link active" routerLinkActive="active" routerLink="inventory">Inventory </a> -->
          <!-- <a class="nav-item nav-link active" routerLinkActive="active" routerLink="employee">Employees </a> -->
          <!-- <a class="nav-item nav-link active" routerLinkActive="active" routerLink="ngchart">Ang Chart </a> -->
          <a class="nav-item nav-link active" routerLinkActive="active" routerLink="datepicker">Google Chart </a>
          <!-- <a class="nav-item nav-link active" routerLinkActive="active" routerLink="graphs">Graphs </a> -->
          <!-- <ng-template [ngIf]="authService.isAuthenticated()"> -->
          <a *ngIf="role === 'associate' || role === 'admin'" class="nav-item nav-link" routerLinkActive="active" routerLink="home">Home</a>
          <a *ngIf="role === 'associate' || role === 'admin'" class="nav-item nav-link" routerLinkActive="active" routerLink="daybook">Day book</a>
          <a *ngIf="role === 'associate' || role === 'admin'" class="nav-item nav-link" routerLinkActive="active" routerLink="test">Trial Balance</a>
          <a *ngIf="role === 'associate' || role === 'admin'" class="nav-item nav-link" routerLinkActive="active" routerLink="stock">Stock</a>
          <a *ngIf="role === 'associate' || role === 'admin'" class="nav-item nav-link" routerLinkActive="active" routerLink="graphs">Graph</a>
          <!-- <a *ngIf="role === 'associate' || role === 'admin'" class="nav-item nav-link active" routerLinkActive="active" routerLink="graphs">Graph</a> -->
          <!-- <a *ngIf="role === 'associate' || role === 'admin'" class="nav-item nav-link active" routerLinkActive="active" routerLink="gsmchart">Gsm Trend</a> -->
          <!-- <a *ngIf="role === 'associate' || role === 'admin'" class="nav-item nav-link active" routerLinkActive="active" routerLink="bfchart">BF Trend</a> -->
          <!-- </ng-template> -->
          <!-- <a class="nav-item nav-link active" routerLinkActive="active" routerLink="about">Smart table </a> -->
        </ul>
        <ul class="navbar-nav ml-auto">
          <!-- <ng-template [ngIf]="!authService.isAuthenticated()">
          <a class="nav-item nav-link" routerLinkActive="active" routerLink="login">Login</a>
        </ng-template> -->
          <ng-template [ngIf]="authService.isAuthenticated()">
            <a class="nav-item nav-link" routerLinkActive="active" routerLink="" (click)="onLogout()">Logout</a>
          </ng-template>
        </ul>
      </div>
    </ng-template>
    <ul class="navbar-nav ml-auto">
      <ng-template *ngIf="!authService.isAuthenticated() && !isLoginPage">
      <!-- <ng-template [ngIf]="showLoginPage"> -->
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="" (click)="onLogin()">Login</a>
      </ng-template>
    </ul>
  </nav>
</div>