<div class="header">
  <div class="top-header">
      <!-- <div class="container"> -->
    <div class="container-fluid" style="cursor: pointer;">
      <!-- <nav class="navbar navbar-expand-lg navbar-light bg-faded"> -->
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <!-- <nav class="navbar navbar-expand-sm navbar-light bg-primary"> -->
        <!-- <nav class="navbar navbar-expand-sm navbar-dark" style="background: coral;"> -->
        <a class="navbar-brand" href="#">Main page</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
          aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLinkActive="active" routerLink="sales">Sales <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" routerLinkActive="active" routerLink="inventory">Inventory </a>
            <a class="nav-item nav-link active" routerLinkActive="active" routerLink="employee">Employees </a>
            <a class="nav-item nav-link active" routerLinkActive="active" routerLink="ngchart">Ang Chart </a>
            <a class="nav-item nav-link active" routerLinkActive="active" routerLink="googlechart">Google Chart </a>
            <a class="nav-item nav-link active" routerLinkActive="active" routerLink="graphs">Graphs </a>
            <a class="nav-item nav-link active" routerLinkActive="active" routerLink="test">Test </a>
            <a class="nav-item nav-link active" routerLinkActive="active" routerLink="daybook">Day book</a>
            <a class="nav-item nav-link active" routerLinkActive="active" routerLink="about">Smart table </a>
            <a class="nav-item nav-link disabled" routerLink="test">Disabled</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
