/* Center the avatar image inside this container */
/* .imgcontainer {
} */

/* Avatar image */
/* img.avatar {
    width: 50%;
    border-radius: 40%;
} */
img{
    max-width: 70%;
    height: auto;
    margin: 40px 0 25px 0;
    /* background-color: #11ffee00; */
}
/* .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948;
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442;
  } */

  