/* Center the avatar image inside this container */
.imgcontainer {
    margin: 30px 0 15px 0;
}

/* Avatar image */
img.avatar {
    width: 50%;
    border-radius: 40%;
}
/* .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948;
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442;
  } */