<div align="center">
 <div class="col-md-4 push-md-4">
    <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
      <div class="imgcontainer" align="center">
        <img src="./assets/spak_logo.png" alt="" class="avatar" border>
      </div>
      <div class="form-group">
        <label for="email">Username</label>
        <input class="form-control input-underline input-lg"  type="email" id="email" name="email" ngModel required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control input-underline input-lg" type="password" id="password" name="password" ngModel required>
      </div>
      <ng-template [ngIf]="!authService.isAuthenticated()">
        <span class="alert" style="color:red">{{error_msg}}</span>
        <!-- <div [hidden]="authService.isAuthenticated()" class="alert alert-danger">{{error_msg}}</div> -->
      </ng-template>
      <br>
      <button class="btn btn-primary btn-md" type="submit" [disabled]="!loginForm.valid">Sign In</button>
      <!-- <button class="btn btn-lg">Cancel</button> -->
    </form>
  </div>
</div>