<div align="center">
 <div class="col-md-4 push-md-4">
    <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
      <div class="imgcontainer" align="center">
        <img src="./assets/spak_logo.png" class="avatar" border>
      </div>
      <div class="form-group" align="left">
        <label for="email">Username</label>
        <input class="form-control input-underline input-lg"  type="email" id="email" name="email"  placeholder="Username" ngModel required>
      </div>
      <div class="form-group" align="left">
        <label for="password">Password</label>
        <input class="form-control input-underline input-lg" type="password" id="password" name="password"  placeholder="Password" ngModel required>
      </div>
      <div *ngIf="invalidLogin" class="alert alert-danger">
        {{error_msg}}
      </div>
      <!-- <ng-template [ngIf]="invalidLogin">
          <p align="left" class="text-error" style="color:red">{{error_msg}}</p> -->
        <!-- <span class="alert" style="color:red">{{error_msg}}</span> -->
        <!-- <div [hidden]="authService.isAuthenticated()" class="alert alert-danger">{{error_msg}}</div> -->
        <!-- <br>
      </ng-template> -->
      <button class="btn btn-success btn-md" type="submit" [disabled]="!loginForm.valid">Sign in</button>
      <button class="btn btn-warning btn-md" type="button" (click)="onSignUp()">Sign up</button>
      <!-- <button class="btn btn-lg">Cancel</button> -->
    </form>
  </div>
</div>