<p>Firebase data :{{ testItem | async }}</p>
<p>Webservice data Stringify :{{ testws | async}}</p>
<button type="button" class="btn-group btn btn-info" style="width:120px" (click)="onView()">View Data</button>

<!--<span>Display Data...</span>-->
<!--<span *ngFor="let product of products; let i = index">
     {{ product.id }} is {{ product.name }}
</span>-->
<p>WS data retrieved - ID :{{ products.id }}</p>
<p>WS data retrieved - Name :{{ products.name }}</p>

<!--<div *ngFor="let hero of testws">{{hero}}</div>-->
<div class="table-responsive">
  <table class="table table-hover table-bordered table-striped">
    <thead>
      <tr>
        <th>No</th>
        <th>Name</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items; let i = index">
        <td><input type="text" value='{{ i }}'></td>
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.qty }}</td>
        <td>{{ item.notes }}</td>
      </tr>
    </tbody>
  </table>
</div>