<div *ngIf="showLoader" align="center">
  <br>
  <br>
  <img src="./assets/loading-2.gif">
</div>
<div *ngIf="!showLoader">
  <br>
  <h3>Production Planning</h3>
  <button *ngIf="showAll" (click)="showSelected()">Show Selected</button>
  <button *ngIf="!showAll" (click)="showSelected()">Show All</button>
  <button (click)="clearAll()">Clear All</button>
  <div class="row">
    <table style="width:50%;" class="table table-responsive table-hover table-sm table-striped table-bordered">
      <!-- <table style="width:50%;" *ngIf="showAll" class="table table-responsive table-hover table-sm table-striped table-bordered"> -->
      <thead class="thead-inverse">
        <tr>
          <th>No</th>
          <th>Date</th>
          <th>Name</th>
          <!-- <th>Vch Type</th> -->
          <th>Item</th>
          <th>Size</th>
          <th>Qty</th>
          <th>Modify</th>
          <th>Select</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr class="col-xs-12"> -->
        <!-- <tr *ngFor="let row of salesOrder; let i = index"> -->
        <tr *ngFor="let row of salesOrder | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">

          <td>{{i+1}}</td>
          <td>{{row.orderDate}}</td>

          <td>{{row.company}}</td>
          <td>{{row.item}}</td>
          <td>{{row.size}}</td>
          <td>{{row.qty}}</td>

          <td>
            <!-- Button trigger modal -->
            <!-- <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#exampleModalLong" (click)="onClickView(row)">View
            </button> -->
            <!-- <input #newQuantity flex placeholder="credit" type="text" maxlength="5" name="row-{{i}}" #credit="ngModel" [(ngModel)]="row.amount"> -->
            <input #newQuantity type="number" maxlength="5" style="width:50px;" [id]="i" />
          </td>
          <td>
            <!-- Button trigger delete  -->
            <!-- <button type="button" class="btn btn-warning btn-sm" (click)="onClickReviewed(row.voucherKey)">Hide
              </button> -->
            <!-- <div class="form-check"> -->
            <input type="checkbox" value="" id="defaultCheck1" (change)="selectFromAll(row,row.voucherKey,newQuantity.value)" />
            <!-- <input type="checkbox" value="" id="defaultCheck1" (change)="selectFromAll(row,newQuantity.value)"/> -->
            <!-- <label class="form-check-label" for="defaultCheck1">
                    Select
                  </label> -->
            <!-- </div> -->
          </td>
        </tr>
      </tbody>
    </table>
    
    <table style="width:50%;" class="table table-responsive table-hover table-sm table-striped table-bordered">
      <!-- <table style="width:50%;" *ngIf="!showAll"  class="table table-responsive table-hover table-sm table-striped table-bordered"> -->
      <thead class="thead-inverse">
        <tr>
          <th>No</th>
          <th>Date</th>
          <th>Name</th>
          <th>Item</th>
          <th>Size</th>
          <th>Qty</th>
          <!-- <th>Details</th> -->
          <th>Select</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr class="col-xs-12"> -->
        <!-- <tr *ngFor="let row of salesOrder; let i = index"> -->
        <tr *ngFor="let row of salesOrder_selected | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">

          <td>{{i+1}}</td>

          <td>{{row.orderDate}}</td>

          <td>{{row.company}}</td>
          <td>{{row.item}}</td>
          <td>{{row.size}}</td>
          <td>{{row.qty}}</td>

          <!-- <td> -->
          <!-- <td>
          <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#exampleModalLong" (click)="onClickView(row)">View
          </button>
        </td> -->
          <td>
            <!-- Button trigger delete  -->
            <!-- <button type="button" class="btn btn-warning btn-sm" (click)="onClickReviewed(row.voucherKey)">Hide
                </button> -->
            <!-- <div class="form-check"> -->
            <input type="checkbox" value="" id="defaultCheck1" (change)="selectFromSelected(row,row.voucherKey)">
            <!-- <label class="form-check-label" for="defaultCheck1">
                      Select
                    </label> -->
            <!-- </div> -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
<!-- <div class="section1">
2d
</div>
<div class="section2">
3d
</div> -->