/* .modal-dialog {
	position: absolute;
	top: 50px;
	right: 100px;
	bottom: 0;
	left: 0;
	z-index: 10040;
	overflow: auto;
	overflow-y: auto;
  } */
  .modal-dialog {
	/* position: absolute; */
	/* top: 10px;
	right: 100px;
	bottom: 0;
	left: 0; */
	/* z-index: 10040; */
	/* overflow: auto; */
	/* overflow-y: auto; */
 }
 th {
    /* background-color: rgba(0, 217, 255, 0.356); */
    /* color: white; */
} 
/* tab color */
.nav-tabs>li>a {
	background-color: #f09a0f; 
	border-color: #777777;
	color:#fff;
  }
  
  /* active tab color */
  .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	color: #fff;
	background-color: #666;
	border: 1px solid #888888;
  }
  
  /* hover tab color */
  .nav-tabs>li>a:hover {
	border-color: #000000;
	background-color: #111111;
  }
/* .nav {
    background-color: rgb(226, 171, 21) !important;
}

.nav>li>a {
    background-color: rgb(235, 194, 15) !important;
    color: rgb(17, 16, 16);
} */
/* ul.nav-tabs > li {
	background-color:#f1c40f;
	width: 20%;
	text-align: center;
	color: rgb(216, 61, 61);
  } */
  /* .nav-tabs{
	background-color:#161616;
  }
  .tab-content{
	  background-color:#303136;
	  color:#fff;
	  padding:5px
  }
  .nav-tabs > li > a{
	border: medium none;
  }
  .nav-tabs > li > a:hover{
	background-color: #303136 !important;
	  border: medium none;
	  border-radius: 0;
	  color:#fff;
  } */
input[type="text"] {
    width: 50px;
}
body{
	/* color:#fff; */
	/* font-size:100pt; */
}
.section1{
	/* background-color:#11181e; */
	width:50%;
	float:left;
	/* height:100vh; */
	border-right: 1vw solid #F5E5D6; 
    box-sizing: border-box;
    margin:0;
    padding:0;	
}
.section2{
	/* background-color:#f1c40f; */
	width:50%;
	float:left;
	/* height:100vh; */
	margin:0;
	padding:0;
  box-sizing: border-box;
}
.table caption button{
    float:right;
}
