<div>
  <h2>Create Announcements</h2>
  <div class="col-md-12 push-md-12">
    <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
      <div class="form-group">
        <label for="message">Message Title</label>
        <input type="text" class="form-control" name="title" id="title" rows="5" class="form-control" ngModel required/>
      </div>
      <div class="form-group">
        <label for="message">Message details</label>
        <textarea class="form-control" name="message" id="message" rows="5" class="form-control" ngModel required></textarea>
      </div>
      <div class="form-group">
        <label for="url">Path for the Image</label>
        <input type="text" class="form-control" name="url" id="url" placeholder="url" class="form-control" ngModel>
      </div>

      <!-- <div class="form-group">
        <label for="role">Select the audience</label>
        <select multiple class="form-control" name="role" id="role" class="form-control" ngModel required>
          <option>Admin</option>
          <option>Directors</option>
          <option>Shareholders</option>
          <option>Associates</option>
        </select>
      </div> -->
      <!-- <div class="form-group">
        <label for="importance">Importance</label>
        <select class="form-control" name="importance" id="importance" class="form-control" ngModel>
          <option>1</option>
          <option>2</option>
        </select>
      </div> -->
      <div *ngIf="invalidLogin" class="alert alert-danger">
        Please enter the required details...
      </div>
      <div class="row" align="center">
        <div class="col-md-12">
          <button type="submit" class="btn-group btn btn-success" style="width:160px" data-toggle="modal" data-target="#exampleModalLong"
            [disabled]="!loginForm.valid">Publish</button>
          <button type="button" class="btn-group btn btn-warning" style="width:160px">Cancel</button>
          <button type="button" class="btn-group btn btn-primary" style="width:160px" disabled>Edit</button>
          <!-- <button type="button" class="btn-group btn btn-primary" style="width:160px" routerLink="modify">Modify</button> -->
          <button type="button" class="btn-group btn btn-danger" style="width:160px" disabled>Delete</button>
        </div>
      </div>
      <!-- <button class="btn btn-primary btn-md" type="submit" [disabled]="!loginForm.valid">Sign In</button> -->
    </form>
  </div>
</div>
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Day Book Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Message has been published successfully.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>