<div>
<hr>
  <table class="table table-responsive table-hover table-sm table-striped">
    <thead>
      <tr>
        <th>No</th>
        <th>Date</th>
        <th>Particulars</th>
        <th>Vch Type</th>
        <th>Vch No</th>
        <th>Credit/Debit(-)</th>
        <!-- <th>Credit Amount / Outwards Qty</th> -->
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr class="col-xs-12">
        <tr *ngFor="let row of dayBook; let i = index">
          <td>{{i+1}}</td>
          <td>{{row.voucherDate}}</td>
          <!-- <td>{{row.ledgerEntryVOs[0].ledgerName}}</td> -->
          <td>{{row.voucherType}}</td>
          <td>{{row.voucherNumber}}</td>
          <td>
            <!-- <div *ngFor="let ledger of row.ledgerEntryVOs"> -->
            <!-- {{ledger.amount}} -->
            <!-- {{row.ledgerEntryVOs[0].amount}} -->
            <!-- </div> -->
          </td>
          <!-- <td> -->
          <!-- <div *ngFor="let inventory of row.inventoryEntryVOs"> -->
          <!-- {{row.inventoryEntryVOs[0].amount}} -->
          <!-- {{row.inventoryEntryVOs[0].amount}} -->
          <!-- </div> -->
          <!-- </td> -->
          <td>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModalLong" (click)="onClickView(row)">View
      </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" >
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Day Book Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                  </div>
                  <div class="modal-body">

                    <h5>Master Details</h5>
                    <table class="w-100 p-3">
                      <tr>
                        <td>Voucher Date:</td>
                        <td>{{dayBook_row.voucherDate}} </td>
                      </tr>
                      <tr>
                        <td>Ledger Name:</td>
                        <td>{{dayBook_row.partyLedgerName}} </td>
                      </tr>
                      <tr>
                        <td>Voucher Type:</td>
                        <td>{{dayBook_row.voucherType}} </td>
                      </tr>
                      <tr>
                        <td>Voucher Number:</td>
                        <td>{{dayBook_row.voucherNumber}} </td>
                      </tr>
                      <tr>
                        <td>Voucher Key:</td>
                        <td>{{dayBook_row.voucherKey}} </td>
                      </tr>
                    </table>
                    <hr class="style2">
                    <h5>Ledger Details</h5>
                    <div *ngFor="let ledger of dayBook_row.ledgerEntryVOs">
                      <table class="w-100 p-3">
                        <tr>
                          <td>Ledger Name:</td>
                          <td>{{ledger.ledgerName}} </td>
                        </tr>
                        <tr>
                          <td>Amount:</td>
                          <td>{{ledger.amount}} </td>
                        </tr>
                        <tr>
                          <td>Voucher Key:</td>
                          <td>{{ledger.voucherKey}} </td>
                        </tr>
                        <!-- <tr>
                            <td>ID:</td>
                            <td>{{ledger.id}} </td>
                          </tr> -->
                      </table>
                      <hr class="style2">
                    </div>
                    <h5>Inventory Details</h5>
                    <div *ngFor="let inventory of dayBook_row.inventoryEntryVOs">
                      <table class="w-100 p-3">
                        <!-- <tr>
                            <td>Voucher Key:</td>
                            <td>{{inventory.voucherKey}} </td>
                          </tr> -->
                        <!-- <tr>
                          <td>Ledger Name:</td>
                          <td>{{inventory.ledgerName}} </td>
                        </tr> -->
                        <tr>
                          <td>Stock Item Name:</td>
                          <td>{{inventory.stockItemName}} </td>
                        </tr>
                        <tr>
                          <td>Rate:</td>
                          <td>{{inventory.rate}} </td>
                        </tr>
                        <tr>
                          <td>Amount:</td>
                          <td>{{inventory.amount}} </td>
                        </tr>
                        <tr>
                          <td>Billed Quantity:</td>
                          <td>{{inventory.billedQuantity}} </td>
                        </tr>
                        <!-- <tr> -->
                        <!-- <td>ID:</td>
                            <td>{{inventory.id}} </td>
                          </tr> -->
                      </table>
                      <hr class="style2">
                    </div>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onClickReviewed(dayBook_row.voucherKey)">Reviewed</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</div>