<div class="container">
  <div class="form-group row">
    <div class="col-xs-2">
      <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
        <div formGroupName="itemData">
          <div class="form-group">
            <label for="name">Item</label>
            <input type="text" id="name" formControlName="name" class="form-control">
            <span
              *ngIf="!itemForm.get('itemData.name').valid && itemForm.get('itemData.name').touched"
              class="help-block">
              <span *ngIf="itemForm.get('itemData.name').errors['required']">This field is required!</span>
            </span>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" id="description" formControlName="description" class="form-control">
            <span
              *ngIf="!itemForm.get('itemData.description').valid && itemForm.get('itemData.description').touched"
              class="help-block">Please enter a valid description!</span>
          </div>
        </div>
        <span
          *ngIf="!itemForm.valid && itemForm.touched"
          class="help-block">Please enter valid data!</span>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
<div class="form-group row">
  <div class="col-xs-2">
    <label for="ex1">Name</label>
    <input class="form-control" id="ex1" type="text">
  </div>
  <div class="col-xs-3">
    <label for="ex2">Description</label>
    <input class="form-control" id="ex2" type="text">
  </div>
  <div class="col-xs-1">
    <label for="ex3">Quantity</label>
    <input class="form-control" id="ex3" type="text">
  </div>
  <div class="col-xs-3">
    <label for="ex2">Notes</label>
    <input class="form-control" id="ex2" type="text">
  </div>
</div>